<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RealWorldPhoenix · Getting Real with Phoenix and Elixir</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src="https://kit.fontawesome.com/bca093d708.js" crossorigin="anonymous"></script>
  </head>
  <body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand is-size-4">
          <a class="navbar-item" href="/">Real World Phoenix |> ...</a>
          <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
          <div class="navbar-end">
            <div class="navbar-menu" id="navMenu">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link is-arrowless">Posts</a>
              <div class="navbar-dropdown">
                <%= for post <- RealWorldPhoenix.Posts.get_all_posts() do %>
                <a class="navbar-item" href="/blog/<%= Date.to_string(post.date)%>/<%= post.slug %>"><%= post.title %></a>
                <% end %>
              </div>
            </div>
            <a class="navbar-item" href="/about">About</a>
            <a class="navbar-item" href="/contact">Contact</a>
          </div>
        </div>
      </div>
    </nav>
    <section role="main" class="section">
      <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <div class="columns is-centered">
        <div class="column is-2 sm-12">
          <div class="box stick">
            <%= Phoenix.LiveView.Helpers.live_render(@conn, RealWorldPhoenixWeb.Live.BlogStats, session: %{"slug" => RealWorldPhoenixWeb.PostView.get_slug(@conn)}) %>
          </div>
        </div>
        <div class="column is-10">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>

      </div>
    </section>
    <%= csrf_meta_tag() %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
