<section class="posts">
  <%= Phoenix.LiveView.Helpers.live_render(@conn, RealWorldPhoenixWeb.Live.BlogStats, session: %{"slug" => get_slug(@conn)}) %>
  <%= render(@conn.request_path, conn: @conn) %>
</section>
