/* This file is for your main application css. */

@import '~highlight.js/styles/zenburn.css';
@import "~bulma/bulma";
$phoenix-orange: #E0602D;
body {
    font-size: 1.1em;
    padding-bottom: 100px;
}

p {
    padding-bottom: 10px;
}

h1 {
    @extend .title.is-3;
    color: $black;
    margin-bottom: 1.5rem;
}

h2 {
    @extend .title.is-5;
    color: $phoenix-orange;
}

h3 {
    @extend .title.is-6;
    color: $phoenix-orange;
}

.navbar {
    border-bottom: 2px solid $phoenix-orange;
}

pre {
    padding: 0.2rem;
    background-color: black;
}

.stick {
    @media screen and (min-width: $desktop) {
        position: fixed;
    }
}

span.thumbs {
    width: 100%;
    margin-bottom: 40px;
    i {
        justify-content: center;
        font-size: 48px;
    }
}