<section class="home">
  <img class="logo" alt="phoenix logo" src="images/phoenix.png"/>
  <p>coming soon...</p>
  <h1>Real World Phoenix</h1>
  <p>An interactive blog that explores mainstream Phoenix!</p>
</section>
